body, h1, h2, h3, h4, h5, h6, p, a, li, span, header, th, td
  font-family "YakuHanRP", "Mplus 1p", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

// div.header-right-wrap a.nav-link
//  text-shadow:2px 2px 9px #f1e8f2,0px 1px 2px #9c9c9c;
//  font-weight: bold;

a:hover
  text-shadow:2px 2px 9px #f1e8f2,0px 1px 2px #3CA949;

header#header
  background: linear-gradient(60deg, #3CA949, white, white, white, white, #E4C327);

//h1
// text-decoration: underline; text-decoration-color: #3CA949; 
//  border-bottom: groove 10px #3CA949; border-top: ridge 10px #3CA949; font-weight: bold

h4
  border-bottom: dotted 3px #3CA949; color: #3CA949; font-weight: bold
