// colors - changed
$accentColor = #3CA949;

$textColor = #2c3e50
$darkTextColor = #000

// $borderColor = rgba($darkTextColor,.05)
$borderColor = #3CA949
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #fff
// -deleted
// $headerBgColor = linear-gradient(#F2B9A1, #EA6264);

$footerBgColor = $darkTextColor
$footerColor = #828282

$newsletterBgColor = #f8f8f8

// layout -changed
$contentWidth = 900px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
